body {
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  letter-spacing: -.05em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
}